{% extends "management/base.html" %}
{% block content %}
<h2>Cursos</h2>
<button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createModal">Nuevo curso</button>
<br><br>
<table class="table table-bordered">
    <tr>
        <th>Nombre</th>
        <th>Código</th>
        <th>Fecha</th>
        <th>Estudiante</th>
        <th>Acciones</th>
    </tr>
    {% for c in courses %}
    <tr>
        <td>{{ c.name }}</td>
        <td>{{ c.code }}</td>
        <td>{{ c.start_date }}</td>
        <td>{{ c.student }}</td>
        <td>
            <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#edit{{ c.id }}">Editar</button>
            <form method="post" action="{% url 'course_delete' c.id %}" style="display:inline;">
                {% csrf_token %}
                <button class="btn btn-danger">Eliminar</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
{% include "management/modals_course.html" %}
{% endblock %}