{% extends "management/base.html" %}
{% block content %}
<h2>Estudiantes</h2>
<button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createModal">Nuevo estudiante</button>
<br><br>
<table class="table table-bordered">
    <tr>
        <th>Nombre</th>
        <th>Email</th>
        <th>Fecha</th>
        <th>Acciones</th>
    </tr>
    {% for s in students %}
    <tr>
        <td>{{ s.first_name }} {{ s.last_name }}</td>
        <td>{{ s.email }}</td>
        <td>{{ s.enrollment_date }}</td>
        <td>
            <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#edit{{ s.id }}">Editar</button>
            <form method="post" action="{% url 'student_delete' s.id %}" style="display:inline;">
                {% csrf_token %}
                <button class="btn btn-danger">Eliminar</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
{% include "management/modals_students.html" %}
{% endblock %}